---
date: Last Modified
---

<html>
    <head>
        <style>
        
            :root{
                --text: #232642;
                --base: #B0C4DE;
                --pale: #B0DCFD;
                --flash: #e69b00;
            }
            
            body{
                font-size: 100%;
                font-family: Arial, Helvetica, sans-serif;
                margin: 20px;
                color: var(--text);
            }

            div.Banner{
                background-color: var(--text);
                width: auto;
                display: flex;
                align-items: center;
            }

            div.Banner>img{
                display: block;
                max-width: 80%;
                height: auto;
                margin: auto;
            }
            
            div.FortmattingDiv{
                display: inline;
                transition: margin-left .5s;
                padding: 20px;
            }

            div.song{
                display: table;
                margin: auto;
                width: 90vw;
            }

            div.row{
                display: table-row;
                width: auto;
            }

            div.cell{
                display: table-cell;
                float:left;
                width: 50%;
                min-height: 1em;
                word-wrap: break-word;
            }
            
            .author{
                display: in-line;
                text-align: right;
                margin-right:5ex;
            }
        </style>
     </head>
    <body>
    
        <div class="Banner" id = 'top'>
            <img src="../img/longandthin.png"> <!-- This requires download-template final generated HTML to be in it's own folder -->
        </div>
        
        Last Updated: {{page.date | format_date}}
        
        {%- assign count = 1 -%}
        
        {%- for item in songs -%}
        
          <h2>{{count}}. {{ item[1].title }}</h2>
          
          {%- if item[1].author -%}
            <h4 class = "author"> {{item[1].author}} <h4>
          {%- endif -%}
          
            {% assign count = count | plus: 1 %}
            <div class="bigScreenSongDiv">
              {%- for line in item[1].lines -%}
              <div class = "FortmattingDiv">
                <div class = "song">
                    <div class = "row">
                      {%- if line.bold -%}<b>{%- endif -%}
                        <div class = "cell">
                            {{line.br}}
                        </div>
                        <div class = "cell">
                            {{line.en}}
                        </div>
                        {%- if line.bold -%}</b>{%- endif -%}  
                    </div>
                </div>
              </div>
            {%- endfor -%}

         {%- endfor -%}
      </body>
</html>     
