<html>
    <head>
        <link rel="stylesheet" href="{{ '/css/menu.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/general.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/song.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/home.css' | url }}">
        <link rel="shortcut icon" type="image/png" href="{{ '/img/favicon.png' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    <body>
    
        <div class="Banner" id = 'top'>
            <img src="{{ '/img/longandthin.png' | url }}">
        </div>
        
        {%- for item in songs -%}
          <h2>{{ item[1].title }}</h2>

            <div class="bigScreenSongDiv">
              {%- for line in item[1].lines -%}
              <div class = "FortmattingDiv">
                <div class = "song">
                    <div class = "row">
                      {%- if line.bold -%}<b>{%- endif -%}
                        <div class = "cell">
                            {{line.br}}
                        </div>
                        <div class = "cell">
                            {{line.en}}
                        </div>
                        {%- if line.bold -%}</b>{%- endif -%}  
                    </div>
                </div>
              </div>
            {%- endfor -%}

         {%- endfor -%}
      </body>
</html>     
