---
layout: page-menu-banner.liquid
title: "Capoeira Songbook|Home"
---
<style>
    div.hero-image{
         background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("img/HomePage.png");
         background-position: bottom;
         background-repeat: no-repeat;
         background-size: cover;
         padding: 1em;
         margin: auto auto 1em auto;
     }
 </style>

<div class = "hero-image">
    <div class = "hero-text">
        <h2>
            Welcome to the Capoeira Songbook. 
        </h2>
        <div>
            <p>
                Music is a fundamental part of capoeira and how we understand and connect with the culture and history behind it. 
            </p>  
            <p>
                At its core, this is a collection of songs sung in our group all in one space for easy reference. 
            </p>
            <h4>
                However...
            </h4>    
            <p>
                The Capoeira Songbook is an ever growing project and we intend to add new sections to delve into the hidden meanings, stories, and histories behind the music.
            </p>

        </div>

        <div class = "exploreContainer">
            <a class = "explore" href="{{ '/song-index' | url }}">
                Explore songs!
            </a>
        </div>
    </div>
</div>
        

<div class = "container">

    <div class ="month">
        <div class = "miniheader">
            Song of the month
        </div>
        <div class = "songOfMonthContainer">
            <div class = "songOfMonths">
                {%- for song in songsOfMonth.orderedMonths -%}
                <div>
                    <div class = "SOTMmonthCell">{% monthName song.somMonth %} {{song.somYear}}</div>
                    <div class = "SOTMsongCell"><a href="{{ '/song/' | url }}{{ song.filename | slug }}.html">{{song.title}}</a></div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </div>

    <div class = "contributions">
        <div class = "miniheader">
            Get involved!
        </div>
        <p>
        The translations we have here are always being updated and improved and if you have any sugesstions, spot any errors or just want to get involved please send us a message!
        </p><p>
        We would love for this project to be a collaboration and we have some ideas for how this can be extended and grow. If you have any ideas, or you want to contribute, just get involved.
        </p><p>
        Please feel free to send any corrections, translations or suggestions to our email address: TheCapoeriaSongbook@gmail.com
        </p>
    </div>
</div>
