---
title: "Capoeira Songbook"
layout: page-menu-banner.liquid
pagination:
  data: songs
  size: 1

permalink: "/song/{{ pagination.items[0] | slugify }}.html"
---
{%- for songidx in pagination.items -%}
  <h2>{{ songs[songidx].title }}</h2>
  
  {%- if songs[songidx].author -%}
    <p class ="author"> {{songs[songidx].author}} </p>
  {%- endif -%}
  
  {%- if songs[songidx].audio -%}
    <audio controls>
        <source src="{{songs[songidx].audio}}" type="audio/mpeg" />
    </audio>
  {%- endif -%}
  
  <div class="bigScreenSongDiv">
    {%- for line in linesWithDetails -%}
    <div class = "FortmattingDiv">
      <div class = "song">
          <div class = "row">
            {%- if line.bold -%}<b>{%- endif -%}
              <div class = "cell">
                  {%- for element in line.br -%}
                    {%- if element.tooltip -%}
                      <a href="#s" data-tooltip = "{{element.tooltip}}">
                        {{element.text}}
                      </a>
                    {%- else -%}
                      {{element.text}}
                    {%- endif -%}
                  {%- endfor -%}
              </div>
              <div class = "cell">
                  {%- for element in line.en -%}
                    {{element.text}}
                  {%- endfor -%}
              </div>
              {%- if line.bold -%}</b>{%- endif -%}  
          </div>
      </div>
    </div>
    {%- endfor -%}
  </div>

  {%- for section in formattedMobileSections -%}
    <div class="mobileSongDiv">
      <div class = "subhead">
        <br/>
        {{ section.title }}
        <br/>
      </div>
      <ol class="numNoDots">
      {%- for line in section.lines -%}
        <li class = "smallSong">
          {%- if line.bold -%}<b>{%- endif -%}
            {%- for element in line.text -%}
              {%- if element.tooltip -%}
                <a href="#s" data-tooltip = "{{element.tooltip}}">
                  {{element.text}}
                </a>
              {%- else -%}
                {{element.text}}
              {%- endif -%}
            {%- endfor -%}
          {%- if line.bold -%}</b>{%- endif -%}
        </li>
      {%- endfor -%}
      </ol>
    </div>
  {%- endfor -%}

  <div class = "NavigationButton">   
    <a href="{{ '/song-index/' | url }}">
      <img src="{{ '/img/left-arrow.svg' | url }}" alt="Return to Index"/>
    </a>
  </div>
{%- endfor -%}


