---
title: "Capoeira Songbook"
layout: page-menu-banner.liquid
pagination:
  data: songs
  size: 1

permalink: "/song/{{ pagination.items[0] | slug }}.html"
---
{%- for songidx in pagination.items -%}
  <h2>{{ songs[songidx].title }}</h2>
  <div>
    {%- for line in songs[songidx].lines -%}
    <div class = "FortmattingDiv">
      <div class = "song">
          <div class = "row">
            {%- if line.bold -%}<b>{%- endif -%}
              <div class = "cell">
                  {{line.br}}
              </div>
              <div class = "cell">
                  {{line.en}}
              </div>
              {%- if line.bold -%}</b>{%- endif -%}  
          </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  
  <div>
    {%- for line in songs[songidx].lines -%}
    <div class = "smallSong">
      {{line.br}}
      </div>
    {%- endfor -%}
  </div>

  <div>
    {%- for line in songs[songidx].lines -%}
    <div class = "smallSong">
      {{line.en}}
      </div>
    {%- endfor -%}
  </div>
  
  <!--<div class = "toIndex">-->
    <div class = "ButtonToIndex">   
        <li><a href="{{ '/song-index/' | url }}"> Return to Index</a></ButtonToTop></li>
    </div>

  <!--<div class = "toIndex">-->
    <div class = "ButtonToIndex">   
        <li><a href="{{ '/song-index/' | url }}"> Return to Index</a></ButtonToTop></li>
    </div>
<!--</div>*-->
{%- endfor -%}


