---
layout: page-menu-banner.liquid
title: "Capoeira Songbook|Index"
---
<h2>
    Index
</h2>

<div class="pagination">
    {%- for letterSongs in indexsong.letterGroups -%}
        <a href="#{{ letterSongs[0] }}">{{ letterSongs[0] }}</a>
    {%- endfor -%}
    </div>
{%- for letterSongs in indexsong.letterGroups -%}
    <div id = "{{ letterSongs[0] }}">
        <h3>List of Songs beginning with {{ letterSongs[0] }}</h3>
        <ul>
            {%- for songsInLetter in letterSongs[1] -%}
                <li><a href="{{ '/song/' | url }}{{ songsInLetter.filename | slug }}.html">{{songsInLetter.title}}</a></li>
            {%- endfor -%}
        </ul>
    </div>
{%- endfor -%}

<div class = "toTop">
    <div class = "ButtonToTop">   
        <li><a href="#top"> ^ Return to top</a></ButtonToTop></li>
    </div>
</div>
