---
title: "Capoeira Songbook"
layout: page-menu-banner.liquid
pagination:
  data: songs
  size: 1

permalink: "/song/{{ pagination.items[0] | slug }}.html"
---
{%- for songidx in pagination.items -%}
  <h2>{{ songs[songidx].title }}</h2>
  
  {%- if songs[songidx].author -%}
    <h4> {{songs[songidx].author}} </h4>
  {%- endif -%}
  
  {%- if songs[songidx].audio -%}
    <audio controls>
        <source crossorigin="anonymous" src="{{songs[songidx].audio}}" type="mp3" />
    </audio>
    <a href="{{songs[songidx].audio}}" > aaaa</a>
  {%- endif -%}
  
  <div class="bigScreenSongDiv">
    {%- for line in songs[songidx].lines -%}
    <div class = "FortmattingDiv">
      <div class = "song">
          <div class = "row">
            {%- if line.bold -%}<b>{%- endif -%}
              <div class = "cell">
                  {{line.br}}
              </div>
              <div class = "cell">
                  {{line.en}}
              </div>
              {%- if line.bold -%}</b>{%- endif -%}  
          </div>
      </div>
    </div>
    {%- endfor -%}
  </div>

  <div class="mobileSongDiv">
    <div class = "subhead">
        Portuguese
        <br/>
    </div>
    <ol class="numNoDots">
    {%- for line in songs[songidx].lines -%}
      <li class = "smallSong">
        {%- if line.bold -%}<b>{%- endif -%}
        {{line.br}}
        {%- if line.bold -%}</b>{%- endif -%}
      </li>
    {%- endfor -%}
    </ol>
  </div>

  <div class="mobileSongDiv">
    <div class = "subhead">
      <br/>
      English
      <br/>
    </div>
    <ol class="numNoDots">
    {%- for line in songs[songidx].lines -%}
      <li class = "smallSong">
        {%- if line.bold -%}<b>{%- endif -%}
        {{line.en}}
        {%- if line.bold -%}</b>{%- endif -%}
      </li>
    {%- endfor -%}
    </ol>
  </div>

  <!--<div class = "toIndex">-->
    <div class = "ButtonToIndex">   
        <li><a href="{{ '/song-index/' | url }}"> Return to Index</a></ButtonToTop></li>
    </div>
<!--</div>*-->
{%- endfor -%}


