<!doctype html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" href="{{ '/css/general.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/index-search.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/song.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/home.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/scrollybox.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/tooltips.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/suggest.css' | url }}">
        <link rel="shortcut icon" type="image/png" href="{{ '/img/favicon.png' | url }}">
        <link rel="stylesheet" href="{{ '/css/banner.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/spinner.css' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" defer src="{{ '/frontend/fe-scrollybox.js' | url }}"></script>
        </head>
    <body>
        <div class="Banner-container">
            <div class="Banner">
                <img src="{{ '/img/banner.webp' | url }}">
                <div class="checkbox-container" onclick="myFunction()">
                    <input type="checkbox" class="menu-checkbox">
                    <div class="berimbau-container">
                        <div class="berimbau">
                            <section class="verga-container">
                                <div class="verga"></div>
                            </section>
                            <section class="arame-container">
                                <div class="arame"></div>
                            </section>
                            <section class="cabaca-container">
                                <div class="cabaca"></div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav" id="nav-links">
                <div class="links">
                    <ul>
                        <li><a href="{{ '/' | url }}">Home</a></li>
                        <li><a href="{{ '/song-index/' | url }}">Index</a></li>
                        <li><a href="{{ '/capoeira-songbook.pdf' | url }}" download>Download PDF</a></li>
                        <!-- <li><a href="#about">Samba</a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="wrapper">
            {{ content }}
        </div>

        <script>
            function myFunction() {
                var x = document.getElementById("nav-links");
                if (!x.classList.contains("nav-active")) {
                    x.classList.add("nav-active");
                } else {
                    x.classList.remove("nav-active");
                }
            }
        </script>
    </body> 
</html>
